{%extends 'restaurant/restaurant.html'%}

{%block 'all'%}
<h3 align="center">Orders History</h3>
<table class="table" style="margin-left: -30px">
	<tr>
		<th>booking Id</th>
		<th>Time</th>
		<th>Order Name</th>
		<th>Delivery Boy Name</th>
		
		<th>User</th>
		<th>Quantity</th>
		
	</tr>
	{%for i in book%}
	<tr>
		<td>{{i.bookingid}}</td>
		<td>{{i.ordertime}}</td>
		<td>{{i.food.name}}</td>
		<td>{{i.delivboy.user.user.first_name}}</td>
		
		<td>{{i.user.user.first_name}} {{i.user.user.last_name}}</td>
		<td> {{i.qty}}</td>
	</tr>
	{%endfor%}
</table>
{%endblock%}